/* Bendras stilius: */

/* Pvz., bendras puslapio fonas. */

/* Jei nenorim kad itakotu kitu grupes nariu elementu, naudojam klases!  */

/* Juste stiliaus kodas: */



.main-page-photo {
    text-align: center;
    color: rgb(250, 10, 210);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0;
    padding-top: 250px;
    padding-bottom: 10px;
    background-image: url('http://picsum.photos/id/460/3000/1984/');
    background-size: cover;
    background-position: center center;
    margin: none;
}

.some-main-text {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.nav-wrapper-header img {
    border-radius: 50%;
}
.main-page-media {
    margin-top: 10px;
    margin-bottom: 50px;
}
.video {
    text-align: center;
    color: rgb(107, 6, 90);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.team-flex {
    margin-bottom: 150px;
}
.team {
    width: 30%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.team img {
    border-radius: 50%;
    width: 60%;
}
.meet-team {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.mapsas {
    margin-bottom: 50px;  
}
.kontaktai {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.some-main-text p {
    border-style: dotted;
    border-width:2px;
    border-color: rgb(216, 122, 180);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.carousel {
    border-style: dotted;
    border-width:2px;
    border-color: rgb(216, 122, 180);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.video {
    border-style: dotted;
    border-width:2px;
    border-color: rgb(216, 122, 180);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-spacing: 10px;
    margin-bottom: 15px;
}
.team-flex {
    border-style: dotted;
    border-width:2px;
    border-color: rgb(216, 122, 180);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-spacing: 10px;
    margin-bottom: 15px;
}
.kontaktai {
    border-style: dotted;
    border-width:2px;
    border-color: rgb(216, 122, 180);
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    border-spacing: 10px;
    margin-bottom: 15px;
}
.nav-wrapper-breadcrumbs {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.nav-wrapper-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;  
}
.page-footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.running-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: crimson;
}


/* Naudojam klases -> Pvz., h1.pagrindine-antraste {
    
} */

/* Daina stiliaus kodas: */

.spinatu-skaidre {
  position: relative;
  filter: blur(0px);
  filter: brightness(1);
 
}

.spinatu-skaidre h1 {
  position: absolute;
  left: 80%;
  top: 30%;
  margin: 50;
  transform: translate(-50%, -50%);
  color: rgb(241, 232, 238);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-style: bold;
}

.spinatu-pav {
  width: 100%;
}




/* Edvinas stiliaus kodas: */


.gallery{
    padding: 1em 0;
    float: left;
    width: 50%;
}
@media screen and (max-width: 640px){
    .gallery{
      display: block;
      width: 100%;
    }
}
  
@media screen and (min-width: 900px){
    .gallery{
      width: 33.33333%;
    }
}
  
.gallery .title{
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}
  
.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
  
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
.content:hover .content-overlay{
    opacity: 1;
}
  
.content-image{
    width: 100%;
}
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
  
.content-details p{
    color: #fff;
    font-size: 0.8em;
}
  
.fadeIn-bottom{
    top: 80%;
}
  
.fadeIn-top{
    top: 20%;
}
  
.fadeIn-left{
    left: 20%;
}
  
.fadeIn-right{
    left: 80%;
}
/* Ricardas stiliaus kodas: */