/* Bendras stilius: */

/* Pvz., bendras puslapio fonas. */

/* Jei nenorim kad itakotu kitu grupes nariu elementu, naudojam klases!  */

/* Juste stiliaus kodas: */



.main-page-photo {
    text-align: center;
    color: rgb(250, 10, 210);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url('http://picsum.photos/id/460/4476/2984/');
    background-size: cover;
    background-position: center center;
    margin: none;


    
}

.some-main-text {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;


}
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.nav-wrapper-header img {
    border-radius: 50%;
}
.main-page-media {
    margin-top: 10px;
    margin-bottom: 50px;
}
.pug-picture {
    text-align: center;
    color: rgb(107, 6, 90);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}














/* Naudojam klases -> Pvz., h1.pagrindine-antraste {
    
} */

/* Daina stiliaus kodas: */

/* Edvinas stiliaus kodas: */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    display: flex;
    justify-content: space-between;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/* Ricardas stiliaus kodas: */